@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header {
    background: lightblue;
}

.hero {
    background: pink;
}

.info {
    background: lightgreen;
}

.quote {
    background: lightyellow;
}

footer {
    background: lightgray;
}